.letter-section {
    width: 100%;
    max-width: 500px;
  }
  .letter-section .content {
    width: 100%;
    aspect-ratio: 500/887;
    background: url("../thiep/images/letter.png") no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: "1FTV-VIP-Qerginas", sans-serif;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.63);
    position: relative;
    cursor: pointer;
  }
  .letter-section .content .couple-names {
    margin-bottom: 2%;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .letter-section .content .couple-names span {
    font-size: 14px;
  }
  .letter-section .content .date {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .letter-section .content .loveanyway {
    position: absolute;
    bottom: 9%;
  }
  .letter-section .content .loveanyway img {
    max-width: 165px;
    width: 100%;
    height: auto;
  }
  @media (max-width: 500px) {
    .letter-section .content .couple-names {
      font-size: 4vw;
      letter-spacing: 0.4vw;
    }
    .letter-section .content .couple-names span {
      font-size: 2.8vw;
    }
    .letter-section .content .date {
      font-size: 2.4vw;
      letter-spacing: 0.2vw;
    }
    .letter-section .content .loveanyway img {
      max-width: 33vw;
    }
  }